
:root {
  --rc-darker: #2e9595;
  --rc-dark: #32a5a5;
  --rc-main: #37b5b5;
  --rc-medium: #6dc9c9;
  --rc-light: #b8f4f2;
  --rc-lighter: #e4fffe;
  --sidebar-background-color: #f3f7fa;
  --main-background-color: #fefefe;
  --warm-background-color: #f7f6f4;
  --highlight-color: #ffff98;
  --dark: #333333;
  --medium: #555555;
  --light: #fafafa;
  --link: #2e9595;
  --hover: #6dc9c9;
  --active: #00ccee;
  --primary: #cd4b18;
  --visited: #2e9595;
  --error: #ff3b3b;
  --error-light: #fff5f4;
  --valid: #2ed0ac;
  --valid-light: #eefffc;
  --warning: #ffd943;
  --warning-light: #fffbef;
  --disabled: #c6c6c6;
  --button-background-color: #f9f9f9;
  --reader-sidebar-background: #ffffff;
}
:root {
  --reader-font-size: 1.1rem;
  --reader-paragraph-spacing: 1rem;
  --reader-left-margin: 2.5rem;
  --reader-text-color: #000;
  --reader-min-column-width: 12rem;
  --reader-max-column-width: 36rem;
  --reader-background-color: white;
  --reader-border-color: #fafaef;
  --reader-line-height: 1.45;
  --reader-font-family: var(--old-style-fonts);
}
@media (max-width: 820px) {
  :root {
    --reader-font-size: 1rem;
    --reader-paragraph-spacing: 1rem;
    --reader-left-margin: 2rem;
  }
}
@media (max-width: 550px) {
  :root {
    --reader-font-size: 0.7rem;
    --reader-paragraph-spacing: 0.85rem;
    --reader-left-margin: 2rem;
  }
}

:root {
  --xx-small: 0.6rem;
  --x-small: 0.7rem;
  --small: 0.85rem;
  --regular: 1rem;
  --bigger: 1.1rem;
  --large: 1.25rem;
  --x-large: 1.5rem;
  --xx-large: 1.75rem;
}


:root {
  --sans-fonts: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --old-style-fonts: "Iowan Old Style", "Sitka Text", Palatino, "Book Antiqua",
    serif;
  --modern-serif-fonts: Athelas, Constantia, Georgia, serif;
  --neutral-fonts: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Roboto, Noto, "Helvetica Neue", Arial, sans-serif;
  --humanist-sans-fonts: Seravek, Calibri, Roboto, Arial, sans-serif;
  --monospace-fonts: "Andale Mono", Consolas, monospace;
  --duo-accessible-fonts: Duo, sans-serif;
  --font-size: 125%;
  --line-height: 1.5;
  --border-radius: 4px;
}